<% content_for :custom_css do %>
<link rel="stylesheet" type="text/css" href="/files/assets/pages/j-pro/css/demo.css">
<link rel="stylesheet" type="text/css" href="/files/assets/pages/j-pro/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/files/assets/pages/j-pro/css/j-pro-modern.css">
<% end %>


<% content_for :content do %>
<div class="main-body">
  <div class="page-wrapper">
    <!-- Page body start -->
    <div class="page-body">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <!-- Register your self card start -->
          <div class="card">
            <div class="card-body">
              <div class="card-title">Invite an artist</div>
              <p>After you invite this artist, he/she will recieve a notification with instructions </p>
              <hr>
              <%= form_for @p, url: '/manager/person/person_create', html: { id: "new-artist" ,novalidate: true} do |f| %>
              
              <!-- start name -->
              <div class="form-group form-group-art position-relative mb-4">
                <label>First name</label>
                <div class="form-group-inner d-inline-block w-100">
                                <!-- <label class="j-icon-right" for="name">
                                    <i class="icofont icofont-ui-user"></i>
                                  </label> -->
                                  <%= f.hidden_field :invitee, value: 'invitee' %>
                                  <%= f.text_field :first_name, class:"form-control", id: "first_name" %>
                                  <%= error_message_on(f.object, :first_name) %>
                                </div>
                              </div>
                              <div class="form-group form-group-art position-relative mb-4">
                                <label>Last name</label>
                                <div class="form-group-inner d-inline-block w-100">
                                <!-- <label class="j-icon-right" for="name">
                                    <i class="icofont icofont-ui-user"></i>
                                  </label> -->
                                  <%= f.text_field :last_name, class:"form-control", id: "last_name" %>
                                  <%= error_message_on(f.object, :last_name) %>
                                </div>
                              </div>
                              <!-- end name -->
                              <!-- start email -->
                              <div class="form-group form-group-art position-relative mb-4">
                                <label>Email</label>
                                <div class="form-group-inner d-inline-block w-100">
                                <!-- <label class="j-icon-right" for="email">
                                    <i class="icofont icofont-envelope"></i>
                                  </label> -->
                                  <%= f.email_field :email, class:"form-control", id: "email" , required: true %>
                                  <%= error_message_on(f.object, :email) %>
                                </div>
                              </div>
                              <!-- end email -->
                              <!-- start response from server -->
                              <div class="j-response"></div>
                              <!-- end response from server -->
                              <!-- end /.content -->
                              <div class="form-group mt-4 mb-0">
                                <%= f.submit "Invite", class: "btn btn-dark py-3 px-5", id: "btn-submit" %>
                              </div>
                              <!-- end /.footer -->
                              <% end %>
                            </div>
                          </div>
                          <!-- Register your self card end -->
                        </div>
                      </div>
                    </div>
                    <!-- Page body end -->
                  </div>
                </div>
                <% end %>

                <% content_for :custom_js do %>
                <!-- j-pro js -->
                <script type="text/javascript" src="/files/assets/pages/j-pro/js/jquery.ui.min.js"></script>
                <script type="text/javascript" src="/files/assets/pages/j-pro/js/jquery.maskedinput.min.js"></script>
                <script type="text/javascript" src="/files/assets/pages/j-pro/js/jquery.j-pro.js"></script>
                <script type="text/javascript" src="/files/assets/pages/j-pro/js/custom/reg-form.js"></script>s

                <% end %>
