<div class="wrapper">
  <div class="intro-alt" style="background-image: url(<%= image_url 'client/temp/intro-overview.jpg' %>);">
    <div class="container">
      <%= render partial: 'artist_intro', locals: {artist: @artist, songs: @songs, duration: @duration} %>
      <div class="intro__body">
        <%= render partial: 'menu', locals: {artist: @artist, page: 'overview'} %>
      </div><!-- /.intro__body -->
    </div><!-- /.container -->
  </div><!-- /.intro-alt -->

  <section class="section-ordinary decoration-dark-gradient  pb-5 mb-5">
    <div class="container">
      <header class="section__head">
        <h3>
          Top Albums
        </h3>
      </header><!-- /.section__head -->

      <div class="section__body">
        <div class="tiles slider-top-albums">
          <% @albums.each do |al| %>
            <%= render partial: 'client/shared/small_size_album',locals:  {al: al} %>
          <% end %>
        </div><!-- /.tiles -->
      </div><!-- /.section__body -->
    </div><!-- /.container -->
  </section><!-- /.section-ordinary decoration-dark-gradient -->

  <div class="section-ordinary  pb-5 mb-5">
    <div class="container">

      <header class="section__head">
        <h3>
          Top Songs
        </h3>
      </header><!-- /.section__head -->

      <div class="section__body">
        <div class="songs">
          <div class="song__cols">
            <div class="song__col">
              <% @songs_a[0].each do |song| %>
                <% if !song.nil? %>
                  <%= render partial: 'client/shared/song', locals: {song: song, add_session: true} %>
                <% end %>
              <% end %>
            </div><!-- /.song__col -->

            <div class="song__col">
              <% if !@songs_a[1].nil?%>
                <% @songs_a[1].each do |song| %>
                  <% if !song.nil? %>
                    <%= render partial: 'client/shared/song', locals: {song: song, add_session: true} %>
                  <% end %>
                <% end %>
              <% end %>
            </div><!-- /.song__col -->
          </div><!-- /.song__cols -->
        </div><!-- /.songs -->
      </div><!-- /.section__body -->
    </div><!-- /.container -->
  </div><!-- /.section-ordinary -->
  <%#=  render partial: 'client/dashboard/near_venue', locals: {venues: @venues} %> 

</div><!-- /.wrapper -->
<script type="text/javascript" charset="utf-8">
    var songs = <%= @songs_json.to_json.to_s.html_safe  %>;
</script>