<ul class="list-btns">
  <li>
    <a href="<%= artist_overview_artist_path(artist['id']) %>" class="btn btn--block <%=page =="overview" ? "current" : " "%> ajaxLink"><%= t("client.common.p1") %></a>
  </li>

  <li>
    <a href="<%= albums_artist_path(artist['id']) %>" class="btn btn--block <%=page =="albums" ? "current" : " "%> ajaxLink"><%= t("client.common.p2") %></a>
  </li>

  <li>
    <a href="<%= top_songs_artist_path(artist['id']) %>" class="btn btn--block <%=page =="top_songs" ? "current" : " "%> ajaxLink"><%= t("client.common.p3") %></a>
  </li>

  <li>
    <a href="<%= playlists_artist_path(artist['id']) %>" class="btn btn--block <%=page =="playlists" ? "current" : " "%> ajaxLink"><%= t("client.common.p4") %></a>
  </li>
</ul><!-- /.list-btns -->