<div class="wrapper"  id="shuffle">
  <%= render partial: "client/shared/header" %>
  <div class="intro-alt search-intro-overview">
    <div class="container">
      <div class="intro__head intro__head--alt">
        <h1>
          <%= @artist.full_name %>
        </h1>

        <div class="intro__icons">
          <ul class="list-icons">
            <li>
              <a href="#" class="playlist-songs">
                <i class="icon-play"></i>
              </a>
            </li>

            <li id="shuffle_9">
              <a>
                <i class="icon-two-arrows"></i>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="icon-plus"></i>
              </a>
            </li>
          </ul><!-- /.list-icons -->
        </div><!-- /.intro__icons -->
      </div><!-- /.intro__head -->

      <div class="intro__body">
        <%= render partial: 'menu', locals: {artist: @artist, page: 'top_songs'} %>

      </div><!-- /.intro__body -->
    </div><!-- /.container -->
  </div><!-- /.intro-alt -->

  <div class="section-ordinary decoration-dark-gradient">
    <div class="container">
      <div class="section__body">
        <div class="songs songs--alt">
          <div class="songs__head">
            <ul>
              <li>
                Title
              </li>

              <li>
                Artist
              </li>

              <li>
                Album
              </li>

              <li>
                Genre
              </li>

              <li>
                Time
              </li>

              <li>
                Credits
              </li>
            </ul>
          </div><!-- /.songs__head -->
          <% @top_songs.each do |song| %>
            <%= render partial: 'client/songs/song_with_full_width', locals: {song: song} %>
          <% end %>
        </div><!-- /.songs -->
      </div><!-- /.section__body -->
    </div><!-- /.container -->
  </div><!-- /.section-ordinary decoration-dark-gradient -->

</div><!-- /.wrapper -->
<%= render partial: 'client/shared/playable_song_js' %>

<% content_for :js do %>

  <script type="text/javascript" charset="utf-8">
      var songs = <%= @top_songs.to_json.to_s.html_safe  %>;
     
      $("#shuffle_9").click(function () {
          $.ajax({
              data : { shuffle : true },
              url: '/client/artist/'+ <%= @artist.id %> +'/top_songs',
              success: function(res){
                  $("#shuffle").html(res)
              }
          })
      });
  </script>

<% end %>