<div class="wrapper">
		<header class="header header--absolute">
	
	<div class="menu">
		<div class="menu-close">
			<span></span>
			
			<span></span>
		</div><!-- /.menu-close -->

		<nav class="nav">
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				
				<li>
					<a href="#">Events</a>
				</li>
				
				<li>
					<a href="#">Profile</a>
				</li>
				
				<li class="has-dropdown">
					<a href="#">Library</a>

					<nav class="nav-dropdown">
						<ul>
							<li>
								<a href="#">Artists</a>
							</li>
							
							<li>
								<a href="#">Albums</a>
							</li>
							
							<li>
								<a href="#">Songs</a>
							</li>
							
							<li>
								<a href="#">Playlists</a>
							</li>
							
							<li>
								<a href="#">Session</a>
							</li>
						</ul>
					</nav><!-- /.nav-dropdown -->
				</li>
				
				<li class="has-dropdown">
					<a href="#">Suggestions</a>

					<nav class="nav-dropdown">
						<ul>
							<li>
								<a href="#">Favorites</a>
							</li>
							
							<li>
								<a href="#">Top Songs</a>
							</li>
							
							<li>
								<a href="#">Top Playlists</a>
							</li>
							
							<li>
								<a href="#">Top Community</a>
							</li>
						</ul>
					</nav><!-- /.nav-dropdown -->
				</li>
				
				<li>
					<a href="#">Settings</a>
				</li>
				
				<li>
					<a href="#">Logout</a>
				</li>
			</ul>
		</nav><!-- /.nav -->
	</div><!-- /.menu -->
</header><!-- /.header -->
		<div class="intro-alt" style="background-image: url(<%= image_url 'client/temp/intro-overview.jpg' %>);">
			<div class="container">
				<div class="intro__head">
					<h1>
						<%= @artist.full_name %>
					</h1>
				</div><!-- /.intro__head -->

				<div class="intro__body">
          <%= render partial: 'menu', locals: {artist: @artist, page: 'overview'} %>
				</div><!-- /.intro__body -->
			</div><!-- /.container -->
		</div><!-- /.intro-alt -->

		<section class="section-ordinary decoration-dark-gradient">
			<div class="container">
				<header class="section__head">
					<h3>
						Top Albums
					</h3>
				</header><!-- /.section__head -->

				<div class="section__body">
					<div class="tiles slider-top-albums">
            <% @albums.each do |al| %>
              <%= render partial: 'client/shared/small_size_album',locals:  {al: al} %>
            <% end %>
					</div><!-- /.tiles -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</section><!-- /.section-ordinary decoration-dark-gradient -->

		<div class="section-ordinary">
			<div class="container">

				<header class="section__head">
					<h3>
						Top Songs
					</h3>
				</header><!-- /.section__head -->
				
				<div class="section__body">
					<div class="songs">
						<div class="song__cols">
							<div class="song__col">
                <% @songs_a[0].each do |song| %>
                	<% if !song.nil? %>
  	                <%= render partial: 'client/shared/song', locals: {song: song} %>
 	                <% end %>
                <% end %>
							</div><!-- /.song__col -->
							
							<div class="song__col">
                <% if !@songs_a[1].nil?%>
                  <% @songs_a[1].each do |song| %>
                  	<% if !song.nil? %>
	                    <%= render partial: 'client/shared/song', locals: {song: song} %>
		                <% end %>
                  <% end %>
                <% end %>
							</div><!-- /.song__col -->
						</div><!-- /.song__cols -->
					</div><!-- /.songs -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</div><!-- /.section-ordinary -->
    <%=  render partial: 'client/dashboard/near_venue', locals: {venues: @venues} %>

	</div><!-- /.wrapper -->
<script type="text/javascript" charset="utf-8">
    const songs = <%= @songs_json.to_json.to_s.html_safe  %>;
</script>