<% content_for :custom_css do %>
<link rel="stylesheet" type="text/css" href="/files/assets/pages/foo-table/css/footable.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/files/assets/pages/foo-table/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/files/assets/pages/foo-table/css/footable.standalone.min.css">
<% end %>


<% content_for :content do %>
<div class="main-body">
  <div class="page-wrapper">
    <!-- Page-body start -->
    <div class="page-body">
      <!-- Filtering Foo-table card start -->
      <div class="card">
        <div class="card-header d-flex align-items-sm-center justify-content-between flex-column flex-sm-row">
          <h6 class="mb-3 mb-sm-0 text-uppercase">All of the Playlists</h6>
          <div id="nestable-menu" class="m-b-10">
            <%= link_to new_admin_playlist_path,   class: "btn btn-dark waves-effect waves-light w-100" do %>
            	NEW PLAYLIST
            <% end %>
          </div>
        </div>
        <div class="card-body card-body-artists">
          <div class="table-responsive">
            <table id="table-artists" class="table table-dark table-dark-set table-column-five table-striped shadow-dark mb-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>TITILE</th>
                  <th>SUB TITLE</th>
                  <th>IMAGE URL</th>
                  <th>CURATED</th>
                </tr>
              </thead>
              <tbody>
                <% @playlists.each.with_index do |a,i| %>
                <tr>
                  <td><%= i+1 %></td>
                  <td>
                  	<a class="table-link" href="<%=edit_admin_playlist_path(a.id) %>">
                  	<%= a.title %></a>
                  </td>
                  <td>  
                  	<%= a.subtitle %>
                  </td>
                  <td>  
                  	<%= a.image_url %>
                  </td>
                  <td>
                  	<% if a.curated == true %>
                  		<span class="tag tag-danger">Yes</span>
                  	<% else %>
                  		<span class="tag tag-danger">No</span>

                  	<% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Filtering Foo-table card end -->
    </div>
    <!-- Page-body end -->
  </div>
</div>



<% end %>

<% content_for :custom_js do %>
<!--FOO Table js-->
<script src="/s92/js/pages/ad/artists.js" type="text/javascript" ></script>
<script src="/files/assets/pages/foo-table/js/footable.min.js"></script>
<% end %>
