<% content_for :custom_css do %>
  <link rel="stylesheet" type="text/css" href="/files/assets/pages/j-pro/css/demo.css">
  <link rel="stylesheet" type="text/css" href="/files/assets/pages/j-pro/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/files/assets/pages/j-pro/css/j-pro-modern.css">
<% end %>

<% content_for :bc do %>
  <%= render partial: "shared/partials/bc",
             locals: { page_title: "Artists", trail: [{:url=>'/ad/artists', :label=>"Artists"}] } %>
<% end %>

<% content_for :content do %>
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page body start -->
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Register your self card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>New artist</h5>
                        </div>
                        <div class="card-block">
                            <div class="j-wrapper j-wrapper-640">
                                <%= form_for @artist, url: '/ad/artist/artist_create', html: {class: "j-pro", id: "new-artist" ,novalidate: true} do |f| %>
                                    <div class="j-content">
                                        <!-- start name -->
                                        <div>
                                            <label class="j-label">First name</label>
                                            <div class="j-unit">
                                                <div class="j-input">
                                                    <label class="j-icon-right" for="name">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </label>
                                                    <%= f.email_field :first_name, id: "first_name" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="j-label">Last name</label>
                                            <div class="j-unit">
                                                <div class="j-input">
                                                    <label class="j-icon-right" for="name">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </label>
                                                    <%= f.email_field :last_name, id: "last_name" %>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end name -->
                                        <!-- start email -->
                                        <div>
                                            <div>
                                                <label class="j-label">Email</label>
                                            </div>
                                            <div class="j-unit">
                                                <div class="j-input">
                                                    <label class="j-icon-right" for="email">
                                                        <i class="icofont icofont-envelope"></i>
                                                    </label>
                                                    <%= f.email_field :email, id: "email" %>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end email -->
                                        <!-- start response from server -->
                                        <div class="j-response"></div>
                                        <!-- end response from server -->
                                    </div>
                                    <!-- end /.content -->
                                    <div class="j-footer">
                                        <%= f.submit "Register", class: "btn btn-primary", id: "btn-submit" %>
                                    </div>
                                    <!-- end /.footer -->
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <!-- Register your self card end -->
                </div>
            </div>
        </div>
        <!-- Page body end -->
    </div>
</div>
<% end %>

<% content_for :custom_js do %>
<!-- j-pro js -->
<script type="text/javascript" src="/files/assets/pages/j-pro/js/jquery.ui.min.js"></script>
<script type="text/javascript" src="/files/assets/pages/j-pro/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/files/assets/pages/j-pro/js/jquery.j-pro.js"></script>
<script type="text/javascript" src="/files/assets/pages/j-pro/js/custom/reg-form.js"></script>s

<% end %>
