<% event.second.each_with_index do |ev, ind| %>
    <% if event_odd?(odd, ind) %>
      <div class="col-md-6 <%= ind + 1 % 2 > 0 ? "event-padding" : "" %>">
        <div class="event" style="background-image: url(<%= ev["pic"] %>);">
          <div class="event__date">
            <p>
              <span>
                <%= event_date_time(ev["event_date"]) %>
              </span>
              
              <strong>
                <%= ev["event_date"].day %>
              </strong>
              
              <span>
                <%= ev["event_date"].year %>
              </span>
            </p>
          </div><!-- /.event__date -->

          <div class="event__content">
            <div class="event__time">
              <p>
                <%= event_show_time(ev["event_show_time"]) %>
              </p>
            </div><!-- /.event__time -->

            <div class="event__head">
              <h6>
                <strong><%= ev["artist_name"] %></strong>
              </h6>
              <h6>
                <%= ev["event_name"] %>
              </h6>
              <h6>
                <%= ev["venue_name"] %>
              </h6>
            </div><!-- /.event__head -->

            <div class="event__location">
              <p>
                <strong>
                  <%= ev["address"] %>
                </strong>
              </p>              
              <p>
                <%= ev["city"] %>
              </p>
            </div><!-- /.event__location -->
          </div><!-- /.event__content -->
          <%= render partial: "client/events/like_dislike" , locals: { event: ev } %>

          <div class="event__actions">
            <a href="/client/events/<%= ev["event_id"] %>" class="ajaxLink">
              View Event
            </a>
          </div><!-- /.event__actions -->
        </div><!-- /.event -->
      </div><!-- /.col-md-6 -->
    <% end %>
<% end %>