<section class="section-ordinary">
  <div class="container">
    <header class="section__head">
      <h3>
        Events Near You
      </h3>
      <a href="/client/all_events" class="link" data-turbolinks="false">
        View more
      </a>
    </header><!-- /.section__head -->
    <div class="section__body">
      <div class="row">
        <% venues.each_with_index do |venue, ind| %>
          <% if ind <= 1 %>
            <div class="col-md-6">
              <div class="event" style="background-image: url(<%= venue["pic"].to_s %>);">
                <div class="event__date">
                  <p>
                    <span>
                      <%= venue["show_time"].strftime("%B")[0..2] %>
                    </span>

                    <strong>
                      <%= venue["show_time"].day %>
                    </strong>

                    <span>
                      <%= venue["show_time"].year %>
                    </span>
                  </p>
                </div><!-- /.event__date -->
                <div class="event__content">
                  <div class="event__time">
                    <p>
                      <%= venue["show_time"].strftime("%H:%M") %>
                    </p>
                  </div><!-- /.event__time -->
                  <div class="event__head">
                    <h6>
                      <strong><%= venue["artist_name"].to_s %></strong>
                    </h6>

                    <h6>
                      <%= venue["tour_name"].to_s %>
                    </h6>
                  </div><!-- /.venue__head -->
                  <div class="venue__location">
                    <p>
                      <strong>
                        <%= venue["address"].to_s %>
                      </strong>
                    </p>

                    <p>
                      <%= venue["address"].to_s %>
                    </p>

                    <p>
                      <%= venue["city"].to_s %>
                    </p>
                  </div><!-- /.event__location -->
                </div><!-- /.event__content -->
                <div class="event__like">
                  <img src="<%= image_url 'client/svg/heart.svg'%>" class="event__like-off" width="32" alt="">
                  <img src="<%= image_url 'client/svg/heart-2.svg'%>" class="event__like-on" width="32" alt="">
                </div><!-- /.event__like -->
                <div class="event__actions">
                  <a href="/client/events/<%= venue["tour_id"] %>">
                    View Event
                  </a>
                </div><!-- /.event__actions -->
              </div><!-- /.event -->
            </div><!-- /.col-md-6 -->
          <% end %>
        <% end %>
      </div><!-- /.row -->
    </div><!-- /.section__body -->
  </div><!-- /.container -->
</section><!-- /.section-ordinary -->