<section class="section-ordinary">
  <div class="container">
    <header class="section__head">
      <h3>
        Events Near You
      </h3>
      <a href="/client/events" class="link" data-turbolinks="false">
        View more
      </a>
    </header><!-- /.section__head -->
    <div class="section__body">
      <div class="row">
        <% venues.each_with_index do |venue, ind| %>
          <% if ind <= 1 %>
            <div class="col-md-6">
              <div class="event" style="background-image: url(<%= venue["pic"] %>);">
                <div class="event__date">
                  <p>
                    <span>
                      <%= event_date_time(venue["event_date"]) %>
                    </span>

                    <strong>
                      <%= venue["event_date"].day %>
                    </strong>

                    <span>
                      <%= venue["event_date"].year %>
                    </span>
                  </p>
                </div><!-- /.event__date -->
                <div class="event__content">
                  <div class="event__time">
                    <p>
                      <%= event_show_time(venue["event_show_time"]) %>
                    </p>
                  </div><!-- /.event__time -->
                  <div class="event__head">
                    <h6>
                      <strong><%= venue["artist_name"] %></strong>
                    </h6>
                    <h6>
                      <%= venue["event_name"] %>
                    </h6>
                    <h6>
                      <%= venue["venue_name"] %>
                    </h6>
                  </div><!-- /.venue__head -->
                  <div class="venue__location">
                    <p>
                      <strong>
                        <%= venue["address"] %>
                      </strong>
                    </p>

                    <p>
                      <%= venue["city"] %>
                    </p>
                  </div><!-- /.event__location -->
                </div><!-- /.event__content -->
                <div class="event__like event_liked_unliked" style="z-index: 5;" data-liked="<%= venue["liked"] %>" data-event-id="<%= venue["event_id"] %>" id="event_liked_unliked<%= venue["event_id"] %>">
                  <% if venue["liked"] == true %>
                      <img src="<%= image_url 'client/svg/heart-2.svg'%>" id="like-img-<%= venue["event_id"] %>" width="32" alt="">
                  <% else %>
                    <img src="<%= image_url 'client/svg/heart.svg'%>" id="like-img-<%= venue["event_id"] %>"  width="32" alt="">
                  <% end %>
                </div><!-- /.event__like -->
                <div class="event__actions">
                  <a href="/client/events/<%= venue["event_id"] %>">
                    View Event
                  </a>
                </div><!-- /.event__actions -->
              </div><!-- /.event -->
            </div><!-- /.col-md-6 -->
          <% end %>
        <% end %>
      </div><!-- /.row -->
    </div><!-- /.section__body -->
  </div><!-- /.container -->
</section><!-- /.section-ordinary -->