<div class="wrapper">
  <%= render partial: "client/shared/header" %>
  <div class="intro-alt intro-events-bg">
    <div class="container">
      <div class="intro__head">
        <h1>
          Events
        </h1>
      </div>

      <div class="intro__body">
        <ul class="list-btns">
          <li>
            <a href="#" class="btn btn--block current">Near You</a>
          </li>
          
          <li>
            <a href="#" class="btn btn--block">All</a>
          </li>
          
          <li>
            <a href="#" class="btn btn--block">My Events</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% @events.each_with_index do |event, ev_i| %>
      <% if event.second.count % 2 == 0 %>
        <section class="section-ordinary section-events-near-you decoration-dark-gradient">
          <div class="container">
            <header class="section__head">
              <h3>
                <%= event.first[0..2] %>
              </h3>
            </header>

            <div class="section__body">
              <div class="row">
                <%= render partial: 'client/dashboard/event', locals: { event: event, odd: false } %>
              </div>
            </div>
          </div>
        </section>
       <% else %> 
        <section class="section-ordinary section-events-near-you decoration-dark-gradient">
          <div class="container">
            <header class="section__head">
              <h3>
                <%= event.first[0..2] %>
              </h3>
            </header>
            <div class="section__body">
            <% event.second.each_with_index do |ev, ind| %>
              <%if ind == 0 %>
                <div class="row">
                  <div class="col">
                    <div class="event event--big" style="background-image: url(<%= ev["pic"].to_s %>);">
                      <div class="event__date">
                        <p>
                          <span>
                            <%= ev["show_time"].strftime("%B")[0..2] %>
                          </span>
                          
                          <strong>
                            <%= ev["show_time"].day %>
                          </strong>
                          
                          <span>
                            <%= ev["show_time"].year %>
                          </span>
                        </p>
                      </div>

                      <div class="event__content">
                        <div class="event__time">
                          <p>
                            <%= ev["show_time"].strftime("%I:%M %p") %>
                          </p>
                        </div>

                        <div class="event__head">
                          <h6>
                            <strong><%= ev["artist_name"].to_s %></strong>
                          </h6>
                          <h6>
                            <%= ev["venue_name"].to_s %>
                          </h6>
                          <h6>
                            <%= ev["tour_name"].to_s %>
                          </h6>
                        </div>

                        <div class="event__location">
                          <p>
                            <strong>
                              <%= ev["address"].to_s %>
                            </strong>
                          </p>
                          
                          <p>
                            <%= ev["city"].to_s %>
                          </p>
                        </div>
                      </div>

                      <div class="event__like">
                        <img src="<%= image_url 'client/svg/heart.svg'%>" class="event__like-off" width="32" alt="">
                        <img src="<%= image_url 'client/svg/heart-2.svg'%>" class="event__like-on" width="32" alt="">
                      </div>

                      <div class="event__actions">
                        <a href="/client/events/<%= ev["tour_id"] %>">
                          View Event
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class="row">
              <%= render partial: 'client/dashboard/event', locals: { event: event, odd: true } %>
            </div>
            </div>
          </div>
        </section>
      <% end %>  
  <% end %>
</div>

