<li class="has-dropdown">
  <a href="#" class="js-trigger">
    <i class="icon-plus"></i>
  </a>

  <ul class="song__dropdown">
    <li>
      <a href="#" data-toggle="modal" data-target="#myPlaylists" class="song_id" data-id="<%=song['id'] %>"><%= t("client.common.p16") %></a>
    </li>

    <li>
      <a href="#" data-toggle="modal" data-target="#newPlaylist" class="F" data-id="<%=song['id'] %>"><%= t("client.common.p14") %></a>
    </li>
    <% if add_session %>
      <li>
        <a href="javascript:;"><%= t("client.common.p18") %></a>
      </li>
    <% else %>
      <li>
        <a href="javascript:;"><%= t("client.common.p17") %></a>
      </li>
    <% end %>
  </ul><!-- /.song__dropdown -->
</li> 