<% content_for :custom_css do %>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

<% end %>
<% content_for :content do %>

<div class="main-body" style="margin-top: -78px;">
  <div class="page-wrapper">
    <!-- Page-body start -->
    <div class="page-body">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="card">

            <div class="card-body">

              <div style="font-family: Roboto">
                <div class="card-title">
                   <h5 class="mb-3 mb-sm-0 text-uppercase text-dark" style="padding-bottom: 30px;">
                    <%= link_to "<i class='fa fa-reply'></i>back to tours".html_safe,"/tours?pid=#{@artist.id}", class: "mb-3 mb-sm-0 text-uppercase text-dark" %>
                  </h5>

                  <h4 class="mb-3 mb-sm-0 text-uppercase">Edit Tour</h4>
                </div>
                <hr>
                <form id="the_form" class="form-material" action="/tours/<%= @tour.id %>" method="post">
                <input type="hidden" name="_method" value="put">
                  <div class="form-group form-group-art position-relative mb-4">
                    <h5>Tour name</h5>
                    <div class="form-group-inner d-inline-block w-100">
                      <input type="text" name="name" class="form-control" placeholder="Name of the tour..." required="" value="<%= @tour.name %>">
                      <span class="form-bar"></span>
                    </div>
                  </div>
                  <div class="form-group form-group-art position-relative mb-4">
                    <h5>Door Time</h5>
                      <div class="form-group-inner d-inline-block w-100">
                        <div class='input-group date' id='datetimepicker1'>
                          <input type="text" name="door_time" class="form-control" id="datepicker" placeholder="Door Time of tour" required="" autocomplete="off" value="<%= @tour.door_time.strftime('%d-%b-%Y %H:%M:%S') if @tour.door_time.present? %>">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                  </div>
                  <div id="door-time" data-val= "<%= @tour.door_time.strftime('%d-%b-%Y %H:%M:%S') if @tour.door_time.present? %>"></div>
                  <div class="form-group form-group-art position-relative mb-4">
                    <h5>Show Time</h5>
                      <div class="form-group-inner d-inline-block w-100">
                        <div class='input-group date' id='datetimepicker2'>
                          <input type="text" name="show_time" autocomplete="off" class="form-control" id="datepicker1" placeholder="Show Time of tour" required="" value="<%= @tour.show_time.strftime('%d-%b-%Y %H:%M:%S') if @tour.show_time.present? %>">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                  </div>
                  <div id="show-time" data-val= "<%= @tour.show_time.strftime('%d-%b-%Y %H:%M:%S') if @tour.show_time.present? %>"></div>
                  <div class="form-group form-group-art position-relative mb-4">
                    <h5>Ticket Price</h5>
                    <div class="form-group-inner d-inline-block w-100">
                      <input type="number" name="ticket_price" class="form-control" placeholder="Ticket Price" required="" value="<%= @tour.ticket_price %>">
                      <span class="form-bar"></span>
                    </div>
                  </div>

                  <div id="nestable-menu" class="form-group mt-4 mb-0">
                    <button type="submit" id="btn-create" class="btn btn-dark py-3 px-5">Update it...</button>
                  </div>
                </form>
            </div>
            </div>
          </div>
          <!-- Inline editable card start -->
        </div>
      </div>
    </div>
    <!-- Page-body end -->
  </div>
</div>
<!-- Main body end -->
<% end %>

<% content_for :custom_js do %>
<script type="text/javascript" src="/files/assets/pages/jquery.filer/js/jquery.filer.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-validation-1.17.0/jquery.validate-1.17.0.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">

  $(function() {
    $('#datetimepicker1').datetimepicker({ format:'YYYY-MM-DD HH:mm:ss'});
    $('#datetimepicker2').datetimepicker({ format:'YYYY-MM-DD HH:mm:ss'});
  });


setTimeout(function() { 
  $('#datepicker').val($('#door-time').data("val"));
  $('#datepicker1').val($('#show-time').data("val"));
 }, 50);
  
</script>
<% end %>