<% content_for :custom_css do %>

<% end %>



<% content_for :content do %>

<div class="main-body">
  <div class="page-wrapper">
    <!-- Page-body start -->
    <div class="page-body">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="card">

            <div class="card-body">

              <div style="padding: 40px;">
                <div class="card-title">
                  <h5 class="mb-3 mb-sm-0 text-uppercase text-dark" style="padding-bottom: 30px;">
                    <%= link_to "<i class='fa fa-reply'></i>back to venues".html_safe,"/venues", class: "mb-3 mb-sm-0 text-uppercase text-dark" %>
                  </h5>

                  <h6 class="mb-3 mb-sm-0 text-uppercase">Edit Venues</h6>
                </div>
                <hr>
                <form id="the_form" class="form-material" action="/venues/<%= @venue.id %>" method="post">
                <input type="hidden" name="_method" value="put">
                  <div class="form-group form-group-art position-relative mb-4">
                    <label>Venue name</label>
                    <div class="form-group-inner d-inline-block w-100">
                      <input type="text" name="name" class="form-control" placeholder="Name of the venue..." required="" value="<%= @venue.name %>">
                      <span class="form-bar"></span>
                    </div>
                  </div>
                  <div class="form-group form-group-art position-relative mb-4">
                    <label>Address</label>
                    <div class="form-group-inner d-inline-block w-100">
                      <input type="text" name="address" class="form-control" placeholder="2018" required="" value="<%= @venue.address %>">
                      <span class="form-bar"></span>
                    </div>
                  </div>
                  <div class="form-group form-group-art position-relative mb-4">
                    <label>City</label>
                    <div class="form-group-inner d-inline-block w-100">
                      <input type="text" name="city" class="form-control" placeholder="2018" required="" value="<%= @venue.city %>">
                      <span class="form-bar"></span>
                    </div>
                  </div>
                  <div class="form-group form-group-art position-relative mb-4">
                    <label>State</label>
                    <div class="form-group-inner d-inline-block w-100">
                      <input type="text" name="state" class="form-control" placeholder="2018" required="" value="<%= @venue.state %>">
                      <span class="form-bar"></span>
                    </div>
                  </div>
                  <div class="form-group form-group-art position-relative mb-4">
                    <label>Country</label>
                    <div class="form-group-inner d-inline-block w-100">
                      <input type="text" name="country" class="form-control" placeholder="2018" required="" value="<%= @venue.country %>">
                      <span class="form-bar"></span>
                    </div>
                  </div>
                  <div class="form-group form-group-art position-relative mb-4">
                    <label>Postal Code</label>
                    <div class="form-group-inner d-inline-block w-100">
                      <input type="text" name="postal_code" class="form-control" placeholder="2018" required="" value="<%= @venue.postal_code %>">
                      <span class="form-bar"></span>
                    </div>
                  </div>

                  <div id="nestable-menu" class="form-group mt-4 mb-0">
                    <button type="submit" id="btn-create" class="btn btn-dark py-3 px-5">Create it...</button>
                  </div>
                </form>
            </div>
            </div>
          </div>
          <!-- Inline editable card start -->
        </div>
      </div>
    </div>
    <!-- Page-body end -->
  </div>
</div>
<!-- Main body end -->
<% end %>

<% content_for :custom_js do %>
<script type="text/javascript" src="/files/assets/pages/jquery.filer/js/jquery.filer.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-validation-1.17.0/jquery.validate-1.17.0.js"></script>
<% end %>
