<div class="wrapper">
  <%= render partial: "client/shared/header" %>
  <div class="intro-alt search-intro-overview">
    <div class="container">
      <div class="intro__head intro__head--alt">
        <h1>
          Greta Van Fleet
        </h1>

        <div class="intro__icons">
          <ul class="list-icons">
            <li>
              <a href="#" class="playlist-songs">
                <i class="icon-play"></i>
              </a>
            </li>
            
            <li>
              <a href="#">
                <i class="icon-two-arrows"></i>
              </a>
            </li>
            
            <li>
              <a href="#">
                <i class="icon-plus"></i>
              </a>
            </li>
          </ul><!-- /.list-icons -->
        </div><!-- /.intro__icons -->
      </div><!-- /.intro__head -->

      <div class="intro__body">
        <ul class="list-btns">
          <li>
            <a href="#" class="btn btn--block">Overview</a>
          </li>
          
          <li>
            <a href="#" class="btn btn--block current">Albums</a>
          </li>
          
          <li>
            <a href="#" class="btn btn--block">Top Songs</a>
          </li>
          
          <li>
            <a href="#" class="btn btn--block">Playlists</a>
          </li>
        </ul><!-- /.list-btns -->
      </div><!-- /.intro__body -->
    </div><!-- /.container -->
  </div><!-- /.intro-alt -->

  <div class="section-ordinary decoration-dark-gradient">
    <div class="container">
      <div class="section__body">
        <div class="tiles  playlists tiles--big">
          <% @albums.each do |album| %>
            <div class="tile tile--big">
              <div class="tile__inner">
                <div class="tile__image tile__image--square">
                  <a href="/client/albums/<%= album["id"] %>">
                    <% if album["pic"].present? %>
                      <img src="<%= album["pic"] %>" alt="">
                    <% else %>
                      <%= image_tag("client/temp/tile-big-1.jpg")%>
                    <% end %>
                  </a>

                  <div class="tile__overlay">
                    <ul class="list-icons">
                      <li>
                        <a href="#">
                          <i class="icon-play"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="icon-two-arrows"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="icon-plus"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="icon-hearth"></i>
                        </a>
                      </li>
                    </ul><!-- /.list-icons -->
                  </div><!-- /.tile__overlay -->
                </div><!-- /.tile__image tile__image--square -->

                <div class="tile__text">
                  <p>
                    <%= album["name"].to_s %>
                  </p>
                </div><!-- /.tile-text -->
              </div><!-- /.tile__inner -->
            </div><!-- /.tile -->
          <% end %>
        </div><!-- /.tiles -->
      </div><!-- /.section__body -->
    </div><!-- /.container -->
  </div><!-- /.section-ordinary decoration-dark-gradient -->
  
</div><!-- /.wrapper -->

