<div class="wrapper" id="shuffle">
  		<div class="intro-alt intro-album-detailed">
  			<div class="container">
  				<div class="intro__body">
  					<div class="song-detailed">
  						<div class="song__image">
                <%= image_tag("#{@al['pic']}", alt: "")%>
  						</div><!-- /.song__image -->

  						<div class="song__content">
  							<h1>
  								<%= @al["name"].to_s %>
  							</h1>
  							
  							<h2>
                  <%= @al['artist_name'].to_s.humanize %>
  							</h2>
  							
  							<p>
  								<strong>
                    <%= @al["genre"].to_s + " - " if @al["genre"] %>  <%= @al["year"] %>
  								</strong>
  							</p>
  							
  							<p>
  								<%= @songs.count %> songs - <%= @duration %>
  							</p>
  							
  							<ul class="list-icons">
  								<li>
  									<a href="#" class="playlist-songs">
  										<i class="icon-play"></i>
  									</a>
  								</li>
  								
  								<li id="shuffle_1">
  									<a>
  										<i class="icon-two-arrows"></i>
  									</a>
  								</li>
  								
  								<li>
  									<a href="#">
  										<i class="icon-plus"></i>
  									</a>
  								</li>

  								<li>
                    <a href="#" class="album-likes albumlike<%=@al['id'] %>" data-liked="<%= @al['liked'] %>" data-id="<%= @al['id'] %>">
                      <% if @al['liked'] == true %>
                        <i class="fas fa-heart"></i>
                      <% else %>
                        <i class="icon-hearth"></i>
                      <% end %>
                    </a>
  								</li>
  							</ul><!-- /.list-icons -->
  						</div><!-- /.song__content -->
  					</div><!-- /.song-detailed -->
  				</div><!-- /.intro__body -->
  			</div><!-- /.container -->
  		</div><!-- /.intro-alt -->

  		<div class="section-ordinary decoration-dark-gradient">
  			<div class="container">
  				<div class="section__body">
  					<div class="songs songs--alt">
  						<div class="songs__head">
  							<ul>
  								<li>
  									Title
  								</li>
  								
  								<li>
  									Artist
  								</li>
  								
  								<li>
  									Album
  								</li>
  								
  								<li>
  									Time
  								</li>
  								
  								<li>
  									Credits
  								</li>
  							</ul>
  						</div><!-- /.songs__head -->
              <% @songs.each do |song| %>
                <%= render partial: 'client/songs/song_with_full_width', locals: {song: song} %>
              <% end %>

  					</div><!-- /.songs -->
  				</div><!-- /.section__body -->
  			</div><!-- /.container -->
  		</div><!-- /.section-ordinary decoration-dark-gradient -->
	
</div><!-- /.wrapper -->


<script type="text/javascript" charset="utf-8">
    var songs = <%= @songs.to_json.to_s.html_safe  %>;

    $("#shuffle_1").click(function () {
      $.ajax({
        data : { shuffle : true },
        url: '/client/albums/' + <%= @al['id'] %>,
        success: function(res){
          $("#shuffle").html(res)
        }
      })
    });
</script>
<%= render partial: 'client/shared/playable_song_js' %>