<header class="header header--absolute">
 <div class="row justify-content-between">
  <a href="javascript:;" class="logo nav-trigger">
   <i class="icon-logo"></i>
  </a>
  <nav class="nav-ultilities">
   <ul>
    <li>
     <a href="javascript:;" class="js-search">
      <i class="icon-search"></i>
     </a>
     <div class="search">
      <form action="/search" method="get" class="searhAjax">
       <label for="" class="hidden"><%= t("client.shared.header.p1")%></label>
       <input type="search" name="q" id="autocomplete" value="" placeholder="Search" class="search__field">
       <input type="submit" value="GO" class="search__btn">
      </form>
     </div><!-- /.search -->
    </li>
    <li>
     <a href="javascript:;">
      <i class="icon-play-gallery"></i>
     </a>
    </li>
    <li>
     <a href="javascript:;">
      <% if user_profile_pic(current_user)["pic"].to_s.present? %>
        <img src="<%= user_profile_pic(current_user)["pic"] %>" class="tile__image tile__image--circle tile__image--empty user_profile_pic" alt="image" />
      <% else %>  
        <i class="ico-account"></i>
      <% end %>  
     </a>
    </li>
    <!-- <li>
      <%#= link_to client_logout_url do %>
        <i class="icon-power mr-2"></i> Logout
      <%# end %>
    </li> -->
   </ul>
  </nav><!-- /.nav-ultilities -->
 </div><!-- /.row justify-content-between -->
 <div class="menu">
  <div class="menu-close">
   <span></span>
   <span></span>
  </div><!-- /.menu-close -->
  <nav class="nav">
   <ul>
    <li>
     <a href="/dashboard" class="ajaxLink"><%= t("client.shared.header.p18")%></a>
    </li>
    <li>
     <a href="/events" class="ajaxLink"><%= t("client.shared.header.p17")%></a>
    </li>
    <li>
     <a href="javascript:;"><%= t("client.shared.header.p16")%></a>
    </li>
    <li class="has-dropdown">
     <a href="javascript:;"><%= t("client.shared.header.p15")%></a>
     <nav class="nav-dropdown">
      <ul>
       <li>
        <a href="/songs/all_songs" class="ajaxLink"><%= t("client.shared.header.p14")%></a>

       </li>
       <li>
        <a href="/artist" class="ajaxLink"><%= t("client.shared.header.p13")%></a>
       </li>
       <li>
        <a href="/my_playlists" class="ajaxLink"><%= t("client.shared.header.p12")%></a>
       </li>
       <li>
        <a href="/albums" class="ajaxLink"><%= t("client.shared.header.p11")%></a>
       </li>
       <li>
        <a href="/songs/my_session" class="ajaxLink"><%= t("client.shared.header.p10")%></a>
       </li>
      </ul>
     </nav><!-- /.nav-dropdown -->
    </li>
    <li class="has-dropdown">
     <a href="javascript:;"><%= t("client.shared.header.p9")%></a>
     <nav class="nav-dropdown">
      <ul>
       <li>
        <a href="javascript:;"><%= t("client.shared.header.p8")%></a>
       </li>
       <li>
        <a href="/songs/top_songs" class="ajaxLink"><%= t("client.shared.header.p7")%></a>
       </li>
       <li>
        <a href="javascript:;"><%= t("client.shared.header.p6")%></a>
       </li>
       <li>
        <a href="javascript:;"><%= t("client.shared.header.p5")%></a>
       </li>
      </ul>
     </nav><!-- /.nav-dropdown -->
    </li>
    <li>
     <a href="javascript:;"><%= t("client.shared.header.p4")%></a>
    </li>
    <li>
      <%= link_to logout_url do %>
        <i class="icon-power mr-2"></i><%= t("client.shared.header.p3")%>
      <% end %>
    </li>
    <li>
      <%= 
      link_to("<i class='icon-power mr-2'></i>#{t('client.shared.header.p2')}".html_safe, "/admin" ) if current_user.has_role?("ADMIN") %>
        
    </li>
   </ul>
  </nav><!-- /.nav -->
 </div><!-- /.menu -->
 <img src="<%= image_url 'client/svg/heart-2.svg'%>" class="hidden like-img">
 <img src="<%= image_url 'client/svg/heart.svg'%>" class="hidden unlike-img">
</header><!-- /.header -->
