<header class="header header--absolute">
 <div class="row justify-content-between">
  <a href="javascript:;" class="logo nav-trigger">
   <i class="icon-logo"></i>
  </a>
  <nav class="nav-ultilities">
   <ul>
    <li>
     <a href="javascript:;" class="js-search">
      <i class="icon-search"></i>
     </a>
     <div class="search">
      <form action="/client/search" method="get">
       <label for="" class="hidden">Search</label>
       <input type="search" name="q" id="autocomplete" value="" placeholder="Search" class="search__field">
       <input type="submit" value="GO" class="search__btn">
      </form>
     </div><!-- /.search -->
    </li>
    <li>
     <a href="javascript:;">
      <i class="icon-play-gallery"></i>
     </a>
    </li>
    <li>
     <a href="javascript:;">
      <% if user_profile_pic(current_user)["pic"].to_s.present? %>
        <img src="<%= user_profile_pic(current_user)["pic"] %>" class="tile__image tile__image--circle tile__image--empty user_profile_pic" alt="image" />
      <% else %>  
        <i class="ico-account"></i>
      <% end %>  
     </a>
    </li>
    <li>
      <%= link_to client_logout_url do %>
        <i class="icon-power mr-2"></i> Logout
      <% end %>
    </li>
   </ul>
  </nav><!-- /.nav-ultilities -->
 </div><!-- /.row justify-content-between -->
 <div class="menu">
  <div class="menu-close">
   <span></span>
   <span></span>
  </div><!-- /.menu-close -->
  <nav class="nav">
   <ul>
    <li>
     <a href="/client/dashboard">Home</a>
    </li>
    <li>
     <a href="/client/events">Events</a>
    </li>
    <li>
     <a href="javascript:;">Profile</a>
    </li>
    <li class="has-dropdown">
     <a href="javascript:;">Library</a>
     <nav class="nav-dropdown">
      <ul>
       <li>
        <a href="/client/my_artists">Artists</a>
       </li>
       <li>
        <a href="/client/albums">Albums</a>
       </li>
       <li>
        <a href="/client/my_songs">Songs</a>
       </li>
       <li>
        <a href="/client/my_playlists">Playlists</a>
       </li>
       <li>
        <a href="/client/songs/my_session">Session</a>
       </li>
      </ul>
     </nav><!-- /.nav-dropdown -->
    </li>
    <li class="has-dropdown">
     <a href="javascript:;">Suggestions</a>
     <nav class="nav-dropdown">
      <ul>
       <li>
        <a href="javascript:;">Favorites</a>
       </li>
       <li>
        <a href="/client/songs/top_songs">Top Songs</a>
       </li>
       <li>
        <a href="javascript:;">Top Playlists</a>
       </li>
       <li>
        <a href="javascript:;">Top Community</a>
       </li>
      </ul>
     </nav><!-- /.nav-dropdown -->
    </li>
    <li>
     <a href="javascript:;">Settings</a>
    </li>
    <li>
      <%= link_to client_logout_url do %>
        <i class="icon-power mr-2"></i>Logout
      <% end %>
    </li>
   </ul>
  </nav><!-- /.nav -->
 </div><!-- /.menu -->
 <img src="<%= image_url 'client/svg/heart-2.svg'%>" class="hidden like-img">
 <img src="<%= image_url 'client/svg/heart.svg'%>" class="hidden unlike-img">
</header><!-- /.header -->
<% content_for :js do %>
  <script type="text/javascript">
      navigator.geolocation.getCurrentPosition((position) => {
        localStorage.setItem("lat", position.coords.latitude)
        localStorage.setItem("lng", position.coords.longitude)
          send_coords();
      });
      navigator.permissions.query({name: 'geolocation'}).then(function(status) {
        if(status.state == "granted"){
          send_coords();
        }
      });
      function send_coords(){
        $.ajax({
          url: "/client/set_coords",
          data: {lat: localStorage.getItem("lat"), lng: localStorage.getItem("lng")},
          mehod: "get",
          success: function res(res){
          }
        });
      }
  </script>
<% end %>