	
<!DOCTYPE html>
<html lang="en">

  <head>
      <%= render "shared/partials/title_meta" %>
      <%= csrf_meta_tags %>
      <%= render "shared/partials/base_css" %>
      <!-- Notification.css -->
      <link rel="stylesheet" type="text/css" href="/files/assets/pages/notification/notification.css">
  </head>

  <body themebg-pattern="theme0">
  <!-- Pre-loader start -->
  <div class="theme-loader">
      <div class="loader-track">
          <div class="preloader-wrapper">
              <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
              <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>

              <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
          <nav class="navbar header-navbar pcoded-header" header-theme="theme1">
              <div class="navbar-wrapper">
                  <div class="navbar-logo">
                      <div class="mobile-search waves-effect waves-light">
                          <div class="header-search">
                              <div class="main-search morphsearch-search">
                                  <div class="input-group">
                                      <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                      <input type="text" class="form-control" placeholder="Enter Keyword">
                                      <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <a href="index.html">
                      	<%= image_tag "logo.png", class: "img-fluid", alt: "Theme-Logo" %>
                      </a>
                  </div>
              </div>
          </nav>
      </div>
        <!-- Menu header end -->
        <section class="login-block">
            <!-- Container-fluid starts -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Authentication card start -->
                       <!--  <div class="section-head" style="padding-bottom:10px">
						<h2><%#= I18n.t('security.change_password.changes_votre') %></h2>
						<p><%#= I18n.t('security.change_password.choses_un') %>:<br>
							  <ul style="padding-left: 40px;">
							   <li id="pw_length_label"><%#= I18n.t('security.change_password.validation1') %>,</li>
							   <li id="pw_number_label"><%#= I18n.t('security.change_password.validation2') %></li>
							   <li id="pw_cap_label"><%#= I18n.t('security.change_password.validation3') %></li>
							   <li id="pw_confirm_label"><%#= I18n.t('security.change_password.validation4') %>.</li>
							  </ul>
							</p>
						</div><!-- /.section-head --> 
                <form action="/sec/change_pw_save" method="post" id="the_form" class="md-float-material form-material m-t-40 m-b-40">
								<%#= render "security/csrf_token" %>
                            <div class="auth-box card">
                                <div class="card-block">
                                   <form id="the_form" action="/security/change_pw_save" method="post">
										<%#= render "security/csrf_token" %>
										<div class="form-body">
											<div class="form-row">
												<label for="pw_new" class="form-label">Password</label>
												<br>

												<div class="form-group form-primary form-static-label">
													<input type="text" class="field field-password" name="pw_new" id="pw_new" value="" placeholder="Passwoord">
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->

											<div class="form-row">
												<label for="pw_confirm" class="form-label">Confirm Password</label>
												br
												<div class="form-group form-primary form-static-label">
													<input type="text" class="field field-password" name="pw_confirm" id="pw_confirm" value="" placeholder="Confirm Password">
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->

										</div><!-- /.form-body -->

										<div class="form-actions">
											<input id="pw_save" type="submit" value="Change password" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20" >
										</div><!-- /.form-actions -->
									</form>
								</div>
							</div>
						</form>
                  
                        <!-- Authentication card end -->
                    </div>
                    <!-- end of col-sm-12 -->
                </div>
                <!-- end of row -->
            </div>
            <!-- end of container-fluid -->

        </section>
    </div>

    <div class="footer">
        <p class="text-center m-b-0">Copyright &copy; 2018 Tenaya Inc, All rights reserved.</p>
    </div>

    <%= render "shared/partials/browser_warnings" %>
    <%= render "shared/partials/base_js" %>
    <%= render "shared/partials/custom_js" %>

    <!-- Custom js -->
    <script type="text/javascript" src="/files/assets/js/common-pages.js"></script>
    <script type="text/javascript" src="/vendor/jquery-validation-1.17.0/jquery.validate-1.17.0.js"></script>

    <!-- notification js -->
    <script type="text/javascript" src="/files/assets/js/bootstrap-growl.min.js"></script>
    <script type="text/javascript" src="/files/assets/pages/notification/notification.js"></script>


    <% p = controller.js_path %>
    <% if (p.present?) %>
    <script src="<%= p %>?<%= Constants::TS %>"></script>
    <% end %>

  </body>

</html>
