<div class="wrapper">
  <div class="intro-alt intro-events-bg">
    <div class="container">
      <div class="intro__head">
        <h1>
          <%= t("client.events.all_events.p4") %>
        </h1>
      </div>

      <div class="intro__body">
        <ul class="list-btns">
          <li>
            <a href="/events" class="btn btn--block ajaxLink">
              <%= t("client.events.all_events.p1") %>
            </a>
          </li>
          
          <li>
            <a href="/events/all_events" class="btn btn--block current ajaxLink"><%= t("client.events.all_events.p2") %></a>
          </li>
          
          <li>
            <a href="/events/my_events" class="btn btn--block ajaxLink"><%= t("client.events.all_events.p3") %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= render partial: 'client/events/events', locals: { events: @events } %>
</div>