<% content_for :bc do %>

<%= render partial: "shared/partials/bc",
           locals: { page_title: "Albums", trail: [{:url=>'/al/my', :label=>"Albums"}] } %>
<% end %>

<% content_for :content do %>

    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <!-- Filtering Foo-table card start -->
                <div class="card">
                    <div class="card-header">
                        <h5>All of your albums</h5>
                    </div>
                    <div class="card-block">
                        <table id="albums-table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th data-breakpoints="xs">Year</th>
                                    <th>Status</th>
                                    <th data-breakpoints="xs">Songs</th>
                                    <th data-breakpoints="xs"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @albums.each do |a| %>
                                <tr>
                                    <td><%= a.name %></td>
                                    <td><%= a.year %></td>
                                    <td><span class="tag tag-danger">Active</span></td>
                                    <td><%= a.songs.size %></td>
                                    <td>
                                      <button class="btn btn-primary btn-round waves-effect waves-light btn-songs" data-album="<%= a.id %>">
                                        Songs
                                      </button>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Filtering Foo-table card end -->
            </div>
            <!-- Page-body end -->
        </div>
    </div>
    <!-- Main body end -->
<% end %>

<% content_for :custom_js do %>
  <!--FOO Table js-->
  <script src="/files/assets/pages/foo-table/js/footable.min.js"></script>
  <script src="/files/assets/pages/foo-table/js/foo-table-custom.js"></script>

<% end %>
