<% content_for :custom_css do %>
<link rel="stylesheet" type="text/css" href="/files/assets/pages/foo-table/css/footable.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/files/assets/pages/foo-table/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/files/assets/pages/foo-table/css/footable.standalone.min.css">
<% end %>


<% content_for :content do %>

<div class="main-body">
  <div class="page-wrapper">
    <!-- Page-body start -->
    <div class="page-body">
      <!-- Filtering Foo-table card start -->
      <div class="card">
        <div class="card-header d-flex align-items-sm-center justify-content-between flex-column flex-sm-row">
          <h6 class="mb-3 mb-sm-0 text-uppercase">All of your releases</h6>
          <div id="nestable-menu" class="m-b-10">
            <button type="button" id="btn-new-release" class="btn btn-dark waves-effect waves-light w-100">New Release</button>
          </div>
        </div>
        <div class="card-body card-body-artists">
          <div class="table-responsive">
            <table id="table-albums" class="table table-dark table-dark-set table-column-six mb-0">
              <thead>
                <tr>
                  <th>Title</th>
                  <th data-breakpoints="xs">Year</th>
                  <th>Status</th>
                  <th data-breakpoints="xs">Songs</th>
                  <th data-breakpoints="xs"></th>
                  <th data-breakpoints="xs"></th>
                </tr>
              </thead>
              <tbody>
                <% @albums.each do |a| %>
                <tr>
                  <td><%= a.name %></td>
                  <td><%= a[:year] %></td>
                  <td><span class="tag tag-danger">Active</span></td>
                  <td><%= a.songs.size %></td>
                  <td>
                    <button class="btn btn-link btn-white waves-effect waves-light btn-cover" data-album="<%= a.id %>">
                      Cover
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-link btn-white waves-effect waves-light btn-songs" data-album="<%= a.id %>">
                      Songs and Details
                    </button>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Filtering Foo-table card end -->
    </div>
    <!-- Page-body end -->
  </div>
</div>
<!-- Main body end -->
<% end %>

<% content_for :custom_js do %>
<!--FOO Table js-->
<script src="/files/assets/pages/foo-table/js/footable.min.js"></script>
<script src="/s92/js/pages/al/my.js" type="text/javascript" ></script>

<% end %>
