<!DOCTYPE html>
<html lang="en">

<head>
      <%= render "shared/partials/title_meta" %>
      <%= csrf_meta_tags %>
      <!-- jquery file upload Frame work -->
      <link href="../files/assets/pages/jquery.filer/css/jquery.filer.css" type="text/css" rel="stylesheet" />
      <link href="../files/assets/pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />

      <%= render "shared/partials/base_css" %>
  </head>

  <body>
  <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
      <div class="loader-bar"></div>
  </div>
  <!-- [ Pre-loader ] end -->
  <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">

          <%= render "shared/partials/header" %>

          <%= render "shared/partials/chat" %>

          <div class="pcoded-main-container">
              <div class="pcoded-wrapper">
                  <%= render "shared/partials/nav_bar" %>

                  <div class="pcoded-content">
                      <!-- [ breadcrumb ] start -->
                      <div class="page-header">
                          <div class="page-block">
                              <div class="row align-items-center">
                                  <div class="col-md-8">
                                      <div class="page-header-title">
                                          <h4 class="m-b-10">File Upload</h4>
                                      </div>
                                      <ul class="breadcrumb">
                                          <li class="breadcrumb-item">
                                              <a href="index.html">
                                                  <i class="feather icon-home"></i>
                                              </a>
                                          </li>
                                          <li class="breadcrumb-item"><a href="#!">File Upload</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- [ breadcrumb ] end -->
                      <div class="pcoded-inner-content">
                          <div class="main-body">
                              <div class="page-wrapper">
                                  <!-- Page-body start -->
                                  <div class="page-body">
                                      <!-- File upload card start -->
                                      <div class="card">
                                          <div class="card-header">
                                              <h5>File Upload</h5>
                                          </div>
                                          <div class="card-block">
                                              <div class="sub-title">Example 1</div>
                                              <input type="file" name="files[]" id="filer_input1" multiple="multiple">
                                          </div>
                                      </div>
                                      <!-- File upload card end -->
                                      <!-- Image upload card start -->
                                      <div class="card">
                                          <div class="card-header">
                                              <h5>Image Upload</h5>
                                          </div>
                                          <div class="card-block">
                                              <div class="sub-title">Example 2</div>
                                              <input type="file" name="files[]" id="filer_input" multiple="multiple">
                                          </div>
                                      </div>
                                      <!-- Image upload card end -->
                                  </div>
                                  <!-- Page-body end -->
                              </div>
                          </div>
                      </div>
                  </div>
                  <%= render "shared/partials/style_select" %>
                </div>
            </div>
        </div>
    </div>

    <%= render "shared/partials/browser_warnings" %>
    <%= render "shared/partials/base_js" %>

    <!-- jquery file upload js -->
    <script src="../files/assets/pages/jquery.filer/js/jquery.filer.min.js"></script>
    <script src="../files/assets/pages/filer/custom-filer.js" type="text/javascript"></script>
    <script src="../files/assets/pages/filer/jquery.fileuploads.init.js" type="text/javascript"></script>

    <%= render "shared/partials/custom_js" %>
</body>

</html>
