<body style="background: url(assets/images/temp/sign-up.jpg) no-repeat center/cover;">
  <div class="wrapper">
    <div class="section-form-register">
      <div class="section__inner">
        <header class="section__head">
          <a href="#" class="logo-large">
            <i class="icon-logo"></i>
          </a>

          <h3>
            Log in
          </h3>

          <p>
            You only need to do this once. Don’t worry.
          </p>
        </header><!-- /.section__head -->

  <div class="section__body">
    <div class="form-register">
      <%= form_tag(client_login_path , class: "color-form") do %>
        <div class="form__section">
          <div class="form__row">
            <label for="emailOrUser" class="hidden"></label>
            <%= email_field_tag :field_email,"", id: "exampleInputUsername",placeholder: "Email", class: "field", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'  %>
          </div><!-- /.form__row -->

          <div class="form__row">
            <label for="password" class="hidden"></label>
            <%= password_field_tag :field_pw, "", id: "exampleInputPassword", placeholder: "Password", label: false, class: "field", :required => true, minlength: 6 %>
          </div><!-- /.form__row -->

          <div class="form__row">
            <%= submit_tag 'Log in', class: "btn btn--block form__btn" %>
          </div><!-- /.form__row -->

          <div class="form__row">
            <button type="button" id="connect" class="btn btn-facebook text-white btn-block waves-effect waves-light">Log in with Facebook</button>
            <!-- <a id="connect" class="btn btn--block">
              Log in with Facebook
            </a> -->
            <!-- <button type="button" id="connect" class="btn btn-facebook text-white btn-block waves-effect waves-light"><i class="fa fa-facebook"></i> Sign In With facebook</button> -->
          </div><!-- /.form__row -->

          <div class="form__row">
            <div class="form__controls">
              <div class="checkbox">
                <input type="checkbox" id="rememberMe">

                <label for="rememberMe">Remember me</label>
              </div><!-- /.checkbox -->
              <input type="text" name="lat" hidden="hidden" id="pos_lat">
              <input type="text" name="lng" hidden="hidden" id="pos_lng">
              <a href="#" class="form__forgot-password">
                Forgot password?
              </a>
            </div><!-- /.form__controls -->
          </div><!-- /.form__row -->
        </div><!-- /.form__section -->

        <div class="form__section">
          <h4>
            Don’t have an account?
          </h4>

          <a href="/client/sign_up" class="btn btn--block">
            Sign up
          </a>
        </div><!-- /.form__section -->
      <% end %>
    </div><!-- /.form-register -->
  </div><!-- /.section__body -->
</div><!-- /.section__inner -->

<footer class="section__foot">
  <div class="container">
    <p>
      We promise we won’t share your personal information with anyone lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam
    </p>
  </div><!-- /.container -->
</footer>
    </div><!-- /.section-form-register -->
  </div><!-- /.wrapper --><!-- /.section__foot -->
  <%= render partial: 'fb_auth' %>
<% content_for :js do %>
<script type="text/javascript" src="/files/assets/pages/jquery.filer/js/jquery.filer.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-validation-1.17.0/jquery.validate-1.17.0.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script src="/s92/js/client/bundle.js" type="text/javascript" ></script>
  <script type="text/javascript">

    navigator.geolocation.getCurrentPosition((position) => {
      localStorage.setItem("lat", position.coords.latitude)
      localStorage.setItem("lng", position.coords.longitude)
    });
    navigator.permissions.query({name: 'geolocation'}).then(function(status) {
      if(status.state == "granted"){
        $("#pos_lat").val(localStorage.getItem("lat"))
        $("#pos_lng").val(localStorage.getItem("lng"))
      }
    });
  </script>
<% end %>
