
 
  <!--Start sidebar-wrapper-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
      <%= link_to home_path do %>
        <%= image_tag 'logo-icon.png' , class: 'logo-icon', alt: "logo icon"%> 
       <h5 class="logo-text"> DashRock</h5>
      <% end %> 
	 </div>
	 <div class="user-details">
	  <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
	    <div class="avatar">
	        <%
	        if (current_user.present? && current_user.profile_pic_url.present?)
	          u = current_user.profile_pic_url
	        else
	          u = "/files/assets/images/avatar-4.jpg"
	        end %>
	    	<img class="mr-3 side-user-img"  src="<%= u %>" alt="User-Profile-Image">
	    </div>
	     <div class="media-body">
	     <h6 class="side-user-name"><%= current_user.full_name %></h6>
	    </div>
       </div>
	   <div id="user-dropdown" class="collapse">
		  <ul class="user-setting-menu">
            <li><a href="/p/p/<%= current_user.id %>"><i class="icon-user"></i>My Profile</a></li>
			<li><a href="/sec/logout"><i class="icon-power"></i> Logout</a></li>
		  </ul>
	   </div>
      </div>
	 <ul class="sidebar-menu do-nicescrol">
     <!--  <li class="sidebar-header">MAIN NAVIGATION</li>
      <li>
        <a href="index.html" class="waves-effect">
          <i class="icon-home"></i><span>Able</span><i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="sidebar-submenu">
          <li><a href="#"><i class="fa fa-long-arrow-right"></i> Able</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"></i> Default</a></li>
        </ul>
      </li> -->
      <% if (is_admin?) %>
	      <li>
	        <a href="#" class="waves-effect">
	        <i class="icon-handbag"></i><span>Artist</span> 
			   <i class="fa fa-angle-left pull-right"></i>
	        </a>
	        <ul class="sidebar-submenu">
	      		<li><a href="/ad/artists"><i class="fa fa-long-arrow-right"></i> All</a></li>
          		<li><a href="/ad/artist_invite"><i class="fa fa-long-arrow-right"></i> Invite</a>
	        </ul>
	      </li>
	      <li>
	        <a href="#" class="waves-effect">
	        <i class="icon-handbag"></i><span>Playlists</span> 
			   <i class="fa fa-angle-left pull-right"></i>
	        </a>
	        <ul class="sidebar-submenu">
	      		<li><a href="<%= admin_playlists_path %>"><i class="fa fa-long-arrow-right"></i> All</a></li>
          		<li><a href="<%= new_admin_playlist_path %>"><i class="fa fa-long-arrow-right"></i> New Playlist</a>
	        </ul>
	      </li>
	      <li>
	        <a href="#" class="waves-effect">
	        <i class="icon-handbag"></i><span>Users</span> 
			   <i class="fa fa-angle-left pull-right"></i>
	        </a>
	        <ul class="sidebar-submenu">
	      		  <li><a href="/ad/all"><i class="fa fa-long-arrow-right"></i> All</a></li>
	        </ul>
	      </li>
 		  <li>
	        <a href="#" class="waves-effect">
	        <i class="icon-handbag"></i><span>Managers</span> 
			   <i class="fa fa-angle-left pull-right"></i>
	        </a>
	        <ul class="sidebar-submenu">
	      		  <li><a href="/ad/managers"><i class="fa fa-long-arrow-right"></i> All</a></li>
	        </ul>
	      </li>
	   <% end %>   
      <% if(current_user.is_artist?) %>
		  <li>
	        <a href="#" class="waves-effect">
	           <i class="feather icon-menu"></i><span>My Music</span>
	        </a>
	        <ul class="sidebar-submenu">
	          <li><a href="/al/my/<%= current_user_id %>"><i class="fa fa-long-arrow-right"></i> Releases</a></li>
	        </ul>
	      </li>
	  <% end %>

	<% if(current_user.is_manager?) %>
	  <li>
        <a href="#" class="waves-effect">
          <i class=""></i><span>Artist</span>
          <i class="fa fa-angle-left float-right"></i>
        </a>
        <ul class="sidebar-submenu">
          <li><a href="/manager/artists"><i class="fa fa-long-arrow-right"></i> All</a></li>
          <li><a href="/manager/artist_invite"><i class="fa fa-long-arrow-right"></i> Invite</a>
         </li>
       	</ul>
      </li>
    <% end %>


<!-- 
	  <li>
        <a href="widgets.html" class="waves-effect"><i class="icon-cup"></i><span>Libra</span>
          <small class="badge float-right badge-danger">New</small>
        </a>
      </li> -->
	  <li>
        <a href="#" class="waves-effect">
          <i class="icon-lock-open"></i><span>LIbrary</span>
          <i class="fa fa-angle-left float-right"></i>
        </a>
        <ul class="sidebar-submenu">
          <li><a href="#"><i class="fa fa-long-arrow-right"></i> My purchases</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"></i> My playlists</a></li>
          <% if is_admin? %>
          	 <li><a href="/admin/i18n_files"><i class="fa fa-long-arrow-right"></i> Translation</a></li>
	   			<% end %>   
        </ul>
      </li>
	 
    </ul>
	 
   </div>
   <!--End sidebar-wrapper-->