<!DOCTYPE html>
<html lang="en">

<head>
    <%= render "shared/partials/title_meta" %>
    <%= csrf_meta_tags %>
    <% if (content_for?(:custom_css)) %>
      <%= yield(:custom_css) %>
    <% end %>
    <%= render "shared/partials/base_css" %>
</head>

<body>
  <%= render partial: "security/pid" %>

  <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
      <div class="loader-bar"></div>
  </div>
  <!-- [ Pre-loader ] end -->

  <div id="pcoded" class="pcoded container-fluid">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
        <%= render "shared/partials/header" %>

        <%= render "shared/partials/chat" %>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
              <%= render "shared/partials/nav_bar" %>

                <div class="pcoded-content">
                    <%= yield(:bc) %>
                    <div class="pcoded-inner-content">
                    <%= yield(:content) %>
                    <%= render "shared/partials/playing" %>
                    </div>
                </div>
                <footer class="text-center p-5">
                    Bottom footer
                </footer>
            </div>
        </div>
      </div>
  </div>

<%= render "shared/partials/player_bar" %>
<%= render "shared/partials/browser_warnings" %>
<%= render "shared/partials/base_js" %>

<%= yield(:custom_js) %>

<%= render "shared/partials/custom_js" %>

<% p = controller.js_path %>
<% if (p.present?) %>
<script src="<%= p %>?<%= Constants::TS %>"></script>
<% end %>

</body>

</html>
